/** html is overal hetzelfde **/
html{
    height: 100%;
    
    font-family: arial, sans-serif;
    
    background-color: rgb(226, 170, 95);
    color: black;
}

/** header, body en footer is op alle pagina's hetzelfde */
header{
    background-image: url(../piscine/logo-piscine%20salsabil.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    
    background-color: rgb(62,27,5);
    color: white;
    
    padding: 1%;
}

footer{
    background-color: rgb(62,27,5);
    color: white;
    
    position: absolute;
    padding: 1.5%;
    bottom: 0%;
    
    text-align: center;
    width: 100%;
}

body{
    width: auto;
    height: auto; 
}

/** kleur veranderen + de streep onder de woorden verwijderen + navigatiebalk */
a:visited, a:link, a:hover, a:active{
    color: white;
    text-decoration: none;
}

a:link, a:visited {
    background-color: rgb(149,80,9);
    color: white;
    
    text-decoration: none;
    display: inline-block;
    
    padding: 1% 1%;
    text-align: center;
}

/** kleur navigatiebalk behouden als je erop drukt */
a:hover, a:active, a.actief{
    background-color: rgb(226,170,95);
}

nav{
    font-size: 100%;
    text-align: right;
    color: white;
}

li a:hover {
    background-color: rgb(226, 170, 95);
    color: black;
}

/** parallax pagina 1 (accueil) */
.parallax {
    /* afbeelding van het zwembad gebruiken als background afbeelding */
    background-image: url('../piscine/7T1A4803.JPG');

    /* max hoogte */
    height: 100%; 

    /* parallax effect (scrollen) */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
     /* The height needs to be set to a fixed value for the effect to work.
   * 100vh = the full height of the viewport. */
    height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
    overflow-x: hidden;
  /* Enable scrolling on the page. */
    overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
    perspective: 2px;
}

/* Turn off parallax: scrollen bij toestellen (laptop, tablet, phones) + pixels mag toenemen indien nodig */
@media only screen and (max-width: 768px)
{
  html{
        min-width: 768px;
        min-height: 1024px;
    }   
    
     footer{
        width: 100%;
        font-size: 75%;
        position: fixed;
    }
    
    /* tarifs */
     .left{
        width: 100%;
        min-width: 700px;
        height: 450px
    }
    
    .right{
        width: 100%;
        min-width: 700px;
        height: 38%; 
    }
    
       /* personnel */
    .text-personnel{
        font-size: 20px;
    }
    
    .photo-personnel{
        width: 100%;
        min-width: 140px; 
    }
    
    .personnel{
      padding-bottom: 20px;
        padding-top: 50px;
    }
    
    .p-personnel{
        font-size: 15px;
    }
    
    /* contact */
    .grand1{
        width: 100%;
        min-width: 600px; 
        height: 70%;
        padding-top: 70px;
    }
    
    .text-contact{
        width:100%;
        min-width: 250px;
    }
    
    .aside1{
        width: 100%;
        min-width: 250px;
        font-size: 12px;
    }
    
    .message-contact{
        width: 100%;
        min-width: 250px;
       
    }
    
    .grand{
        font-size: 20px;
        padding-top: 50px;
        
    }
    
}

@media only screen and (max-width: 360px){
    /* mobile */
    html{
        min-width: 360px;
        min-height: 460px;
    }
    .menu{
        width: 100%;
        font-size: 75%;
        padding-left: 0%;
        padding-right: 0%; 
    }
  
    footer{
        width: 100%;
        font-size: 75%;
        position: fixed;
    }
     
    /* tarifs */
    .left{
        width: 100%;
        min-width: 320px;
        min-height: 470px; 
    }
    
    .right{
        width: 100%;
        min-width: 320px;
        min-height: 470px;  
    }
    
    .tarifaire{
        width: 100%;
        min-width: 310px;
    }
    
    #table{
        width: 100%;
        min-width: 310px;
    }
    
    /* personnel */
    .text-personnel{
        font-size: 12px;
    }
    
    .photo-personnel{
        width: 100%;
        min-width: 140px;   
    }
    
    /* contact */
    .grand1{
        width: 100%;
        min-width: 360px; 
    }
    
    .text-contact{
        width:100%;
        min-width: 323px;
    }
    
    .aside1{
        width: 100%;
        min-width: 290px;
        font-size: 12px;
    }
    
    .message-contact{
        width: 100%;
        min-width: 275px;
    }
    
    /* accessibilité */
    .grand{
        font-size: 14px;
    }
    
     .img-accessibilité{
        width: 100%;
        min-width: 250px;
    }
}


.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh = the full height of the viewport. */
    height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
    overflow-x: hidden;
  /* Enable scrolling on the page. */
    overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
    perspective: 2px;
    text-align: center;
}

.section {
    position: relative;
    height: 100vh;

  /* text formatting. */
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: azure;
    font-size: 75%;
}

.parallax::after {
  /* Display + position the pseudo-element */
  content: " ";
  position: absolute;
    
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

/* The styling for the static div. */
.static {
    background-color: rgb(62,27,5);
   
}

/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg1::after {
    background-image:url(img/grand.JPG);
  
}

.bg2::after {
  background-image: url(img/petit.JPG); 
    
}

.transbox{
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
    
    color: black;
    height: 80px;
    width: 100%;
}

/** logo salsabil is overal hetzelfde */
.header{
    background-image: url(../piscine/logo-piscine%20salsabil.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}

/** vorm + stijl geven (Tarif) */

.tarifaire, .tarifaire1{
    display: inline-block;
    width: 60%;
    height:20%;
}

#wrap{
    width: 100%;
}

.left{
    display: inline-block;
    
    width: 45%;
    
    float: left;
    
    margin: 2%;
    padding-left: 2%;
    
    background-color: rgb(149,80,9); 
}

.right{
    display: inline-block;
    
    width: 41%;
    float: right;
    
    margin: 3%;
    padding-left: 2%; 
}

/** tabel maken voor prijzen (tarfis) */
.tabel-tarifs{
    display: inline-block;
    text-align: left;
    
    width: 165%;
}

th{
    background-color: rgb(192,131,57);
    color: black;   
}

tr{
    background-color: rgb(226, 170, 95);
    color: black;
}

td{
    background-color: rgb(226, 170, 95);
    color: black;
}

.center{
    text-align: center;
}
h1{
    font-size: 100%;
}

h2{
    font-size: 90%;
}

h3{
    font-size: 75%;
}
p {
    font-size: 75%;
}

tr, th, td {
    font-size: 75%;
}

/**  layout van de tabel */

table {
    border-collapse: collapse;
    
    width: 60%;
    height: 20%;
}

td,th, tr{
    border: 2px solid;
    
    text-align: left;
    padding: 2%;
}
   
.AquagymText{
    display: inline-block;
    
    width: auto;  
}

/* vorm + stijl + afbeelding (Personnel) */

.BOX1{
    width: 100%;
    height: 100%;
}

.grumpy-image{
    width: 40%;
    height: 80%;
    
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 30%;
    padding-top: 3%;
}


.personnel{
    width: 100%;
    height: 50%;
    
    overflow-y: scroll;
}

.photo-personnel {
    display: inline-block;
    
    width: 40%;
    height: 47%;
    
    background-color: rgb(62,27,5);
    float: left;
    
    margin-left: 8%;
}

.text-personnel{
    display: inline-block;
    
    width: 40%;
    height: 47%;
    
    background-color: rgb(149,80,9);
    float: right;
    
    margin-right: 8%;
}

.text{
    width: 70%;
    
    padding: 5%;
    padding-left: 15%;
    margin: 2%;
    
    font-size: 75%;
}

.BOX2{
    width: 100%;
    height: 100%;
}

.div.transbox{
    margin:0%;
    
    height: 100%;
    background-color: #ffffff;
    
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.div.transbox{
    margin: 5%;
    
    font-weight: bold;
    color: #000000;
}
    
/* stijl + vorm + kleur geven (contact) */
.grand1{
    margin: 2%
}
.message-contact {
    display: inline-block;
    text-align: left;
    
    margin: 2%;
    padding-left: 5%; 
    
    
    background-color: rgb(149,80,9);  
    
    width: 35%;
    height: 56%;
    
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 10%;
    padding-right: 2%;
    
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left: 5%;
    margin-right: 0%;
}

form{
    width: 80%;
    height: 70%;
    
    padding-top: 8%;
}

aside, .aside1{
    background-color: rgb(230,162,71);
    display: inline-block;
    
    width: 100%;
    height: 100%;
}

.text-contact{
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 3%;
    padding-right: 0%;
    
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 5%;
    
    background-color: rgb(230,162,71);
    display: inline-block;
    
    text-align: left;
    
    width: 40%;
    height: 56%;
    float: right;
}

.tabel-contact, .table {
    border-collapse: collapse;
    width: 60%;
 }

table{
    width: 60%;
    height: 1%;
}

.R{
    float: right;
    width: 50%;
    
}

.tabel,relative{
    float: right;
    
    position: relative;
    width: 100%;
    
    margin-right: 5%;
    margin-bottom: 5%;    
}

/** img, stijl + vorm (accessibilité)  */

.img-accessibilité{
    
    width: 60%;
    height: 25%;
    
    display: block;
    
    padding-left: 15%;
    margin:4%;
}

.accesibilité-paragraphs{
    text-align: center;
    
    font-size: 100%;
    font-size: 80%;
}

.grand{
    margin: 6%
}